* {
  box-sizing: border-box;
  }
  .sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(40, 75, 99);
    overflow-x: hidden;
    
  }
  
  .sidenav a {
    padding: 5px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    text-align: center;
    position: relative;
    top:40%;
    font-family: 'Oswald', sans-serif;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
    
  }



  .Main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 50px;
    font-family: sans;
  }
h1{
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  align-items: center;
  letter-spacing: -3px;
}

  h2 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: rgb(53, 53, 53);
    font-size: 32px;
  }

  h3 {
    font-family: 'Oswald', sans-serif;
    color: rgb(53, 53, 53);
    font-size: 32px;
  }

  p{
    font-family: 'Oswald', sans-serif;
    color: rgb(71, 71, 71);
    font-size: 24px;
   
  }

  li{
    font-family: 'Oswald', sans-serif;
    color: rgb(71, 71, 71);
    font-size: 24px;
  }