* {
  box-sizing: border-box;
  }
  
  .sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(10, 10, 10);
    overflow-x: hidden;
    
  }
  
  

  .sidenav a {
    padding: 5px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: rgb(247, 240, 240);
    display: block;
    text-align: center;
    position: relative;
    top:28%;
    font-family: 'Press Start 2P', cursive;
    
  }
  
  .sidenav a:hover {
    color: rgb(255, 238, 0)
    
  }

.navbar-brand {

  

}

 


  .Main {
    margin-left: 200px; /* Same as the width of the sidenav */
    margin-top: -30px;
    margin-right: -8px;
    padding: 50px;
    background-color: rgb(255, 255, 255)
  }
  
  h1 {
    
    font-family: 'Libre Barcode 128 Text', cursive;
    text-transform: uppercase;
    text-align: left;
    color: rgb(0, 0, 0);

  }

  h2 {
    font-family: 'Libre Barcode 128 Text', cursive;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
  }

  h3 {
    font-family: 'M PLUS 1 Code', sans-serif;
    color: rgb(25, 25, 26);
    font-size: 25px;
    
  }

 

  p {
    font-family: 'M PLUS 1 Code', sans-serif;
    color: rgb(34, 33, 33);
    font-size: 25px;
    
    
  }

  li {
    font-family: 'M PLUS 1 Code', sans-serif;
    color: rgb(43, 40, 40);
    font-size: 25px;
    
  }

  .Name {
    position:relative;
    width: 100%;
    text-align: left;
    margin-top: 250px;
    margin-left: 5px;
    font-size: 50px;
    
  }

  .AboutMe {
    position:relative;
    width: 100%;
    
    margin-bottom: 20px;
    margin-left: 5px;
  }
  .Underline{
    border-bottom: 2px solid rgb(46, 46, 41)
  }

  .JobExperience {
  text-align: left;
  font-size: 50px;
  width: 100%;
  
  padding: 5px;
  margin: 359px;
  margin-left: 5px;
  

  }

  .Skills {
    text-align: left;
    width: 100%;
  
    padding: 5px;
    margin: 400px;
    margin-left: 5px;
    font-size: 50px;
    list-style: none;
  }

  .Projects {
    font-size: 50px;
    text-align: left;
    width: 100%;
    
    padding: 5px;
    margin: 300px;
    margin-left: 5px;
 
  }

